

@media screen and (min-width:120px){
    
    /* .outer_div{
    position: relative;
    width: 99%;
    height: 200px;
    border: 5px solid rgb(15, 175, 140);
} */

.inner_div{
    position: relative;
    margin:0 auto;
    Margin-top:60px;
    /* border: 5px solid red; */
    width: 95%;
    /* height: 400px; */


}

.name_header{
   
    color: white;
}

.name_header{
    position: relative;
    margin: 0 auto;
    font-size: 1.3rem;
    padding-bottom: 10px;
    border-bottom: 1.2px solid rgb(192, 171, 171);
    width: 200px;
    
    
}

.title_header{
    margin-top: 10px;
}

.title_header{
    color: white;
}

}

@media screen and (min-width:480px){

    .outer_div{
        position: relative;
        width: 99%;
        height: 200px;
        border: 5px solid rgb(0, 112, 88);
    }
    
    .inner_div{
        position: relative;
        margin:0 auto;
        Margin-top:60px;
        border: 5px solid rgb(17, 14, 184);
        width: 95%;
        height: 400px;
    
    
    }
    
    .name_header{
       
        color: white;
    }
    
    .name_header{
        position: relative;
        margin: 0 auto;
        font-size: 10rem;
        padding-bottom: 10px;
        border-bottom: 1.2px solid rgb(192, 171, 171);
        width: 200px;
        
        
    }
    
    .title_header{
        margin-top: 10px;
    }
    
    .title_header{
        color: white;
    }
    
    



}